
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding:0;
}

#main-hero {
    height: 616px;;
    background-image:linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%) , url("../asset/images/Rectangle\ 2.png");
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-hero .hero-content
{
    width: 600px;
    
   
      
}
.hero-content span{
    opacity: 0.8;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
display: block;
margin-bottom: 10px;
}
#main-hero .hero-content .hero-title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 43px;
font-weight: 400;
line-height: 54px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;
}


#main-hero .hero-content .hero-para {
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 10px;
}
 .hero-btn {
   
    text-align: center;
    margin-top: 30px;

}


.btn{
    padding: 21px 32px 21px 32px;
    border-radius: 8px;

background: rgb(82, 195, 3);
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 5%;
text-align: center;
border: none;
transition:.5s;
}

.btn:hover{
    color: brown;
    background-color: aqua;
    border: 1px double red; 
}


/* card design css */

#card-box{
    width: 884px;
    margin: auto;
    
}
.card-box-wrap{
    margin-top:95px;

}
.card-contant{
    margin:50px auto;
    text-align: center;
    width: 500px;
    
}
.card-contant p{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;
}

.card-contant h2{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 35px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0%;
text-align: center;
margin: 32px 0px;
}
.inner-card{
    width: 284px;
    height: 190px;
    margin-bottom: 100px;
}
.inner-card .card-image img{
    width: 284px;
    height: 190px;
    margin: 25px 0px;
    /* display: block; */
    border-radius: 15px;
}

.card-content span{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    padding: 14px 32px 14px 32px;
    width: 105px;
    margin: 24px auto;
    display:block;
   background: rgba(82, 195, 3, 0.15);



}


.card-content h2{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 30px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
margin:20px 0px;
}

.card-content p{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}

.card-wrap

{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 40px;
    /* flex-wrap:wrap; */
    /* flex-direction: row; */
   
   
}
.card-btn
{
    
margin:250px auto 100px;
text-align: center;
width: 200px ;

}
.btn-c{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(82, 195, 3);
    padding: 21px 32px 21px 32px;
    border:none;
    border-radius: 8px;
    transition: .5s;
}

.btn-c:hover{
    background-color: rgb(207, 207, 204);
    color: chocolate;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;

}


/* social-status design */

#soical-sec{
    background-image:url("../asset/images/image\ 2.png") ;
    width: 100%;
    padding-bottom: 70px;
}
.social-wrap{
    text-align: center;
    padding:50px 0px 70px 0px;
}
.soical-title-desc{
    /* text-align: center; */
    width: 540px;
    margin: 50px auto;
}

.soical-title-desc h2{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0%;
    /* text-align: center;    */
    margin-bottom: 20px;
}
.soical-title-desc p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    /* text-align: center; */
    opacity: 0.6;
}
.socia-hr{
    width: 80%;
    /* text-align: center; */
    margin:30px  auto;  
}

.socia-hr hr{
    color: rgb(254, 0, 0) !important;
}
.socia-hr> span{
    padding: 20px 10px 20px 10px;
    display:block;
    /* box-sizing: border-box; */
/* border-bottom: 1px solid rgba(16, 16, 16, 0.2);
border-top: 1px solid rgba(16, 16, 16, 0.2); */
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
text-transform: capitalize;


}

.social-icon{
   color: rgb(152, 0, 253);
   display: flex;
   justify-content:center;
   align-items: center;
   gap: 50px;
   font-size: 30px;
 margin-top: 30px;
 margin-right: 40px;
}


.social-icon i{
    position:absolute;
    padding: 10px;
    transition: .5s;
}
.social-icon i:hover{
    color: aliceblue;
/* background-color: aqua;
border-radius: 10px;
padding: 10px; */

}


   /* about section syle file */

#about-sec{
    display: flex;
    max-width:1270px;
    justify-content: center;
    align-items: center;
    margin:auto;

}
.images{
    width:50%;
    
}
.images img
{
    width:100%;
    border: 1px dashed rgb(62, 61, 61);

}
.about-content{
    text-align: center;
    margin: 80px 0px;
    width:50%;
    

}

.about-content h2{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 35px;
font-weight: 500;
line-height: 44px;
letter-spacing: 0%;
text-align: center;
margin: 24px 30px;

}

.about-content p{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 16px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin: 24px 0px;

} 

.bottom-title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 25px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
box-sizing: border-box;
border-bottom: 1px solid rgba(16, 16, 16, 0.2);
border-top: 1px solid rgba(16, 16, 16, 0.2);
padding: 20px 10px 20px 10px;
margin: 40px 0px 30px 0px;

}

.about-icon{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
   

}

.about-icon i{
    color: aquamarine;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px 5px 10px 5px;
    font-size:15px;
    position:absolute;
    transition:0.5s ;
}

.about-icon i:hover {
    color:white;
    background-color: aquamarine;
    font-size:20px;
 
}


#foot{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100%;
    
}
.foot-container{
    /* margin:auto; */
    margin-right: 50px;
    font-size: 20px;
}
.footr-icon{
    /* margin:auto; */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* module-5 practice end */